@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
   --blue: #1789FC;
   --white: #fcf7f8;
   --black: #040F0F;
   --pink: #ef476f;
   --green: #06d6a0;
   --geist-mono: "Geist Mono", monospace;
   --josefin-sans: "Josefin Sans", sans-serif;
}

* {
   padding: 0;
   margin: 0;
   color: var(--white);
   box-sizing: border-box;
}

body { 
   background-color: var(--black);
   overflow-x: hidden;
   scroll-behavior: smooth;
}

/* header section */
header {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   position: relative;
   gap: 10vw;
   height: 100vh;
   width: 100vw;
}

header img {
   width: 20vw;
   min-width: 120px;
   border-radius: 50%;
   border: 8px solid #1789fca1;
   box-shadow: 0px 0px 10px -2px var(--blue);
   animation: polar_bear 3.5s linear infinite 1s;
}

/*Glowing effect on polar bear*/
@keyframes polar_bear {
   0%, 5% {box-shadow: 0px 0px 10px -2px var(--blue);}
   46%, 48% {box-shadow: 0px 0px 50px 5px var(--blue);}
   50%, 52% {box-shadow: 0px 0px 51px 6px var(--blue);}
   54%, 56% {box-shadow: 0px 0px 50px 5px var(--blue);}
   95%, 100% {box-shadow: 0px 0px 10px -2px var(--blue);}
}

header a {
   display: block;
   font-family: var(--josefin-sans);
   font-size: 6vw;
   text-transform: uppercase;
   font-style: italic;
   position: relative;
}

header a::before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   height: 5%;
   width: 0%;
   border-radius: 5px;
   animation: a-in .5s 1.25s forwards;
   background-image: linear-gradient(to right, var(--blue), var(--white));
   box-shadow: 0px 0px 100px 5px var(--blue);
}

@keyframes a-in {
   0% {width: 0%;}
   100% {width: 100%;}
}


/* main section */
main {
   height: 130vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   row-gap: 50px;
}

main .row {
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   align-items: center;
   width: 100vw;
}

main .title {
   text-align: center;
   margin: auto;
   font-size: 6vw;
   font-family: var(--geist-mono);
   text-transform: uppercase;
}

main .card {
   border: solid var(--white) 3px;
   border-radius: 20px;
   width: 45vw;
   height: 50vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
   transition: .3s;
   font-family: var(--josefin-sans);
}

main .card:hover {
   border: solid var(--blue) 3px;
   
}

main .card:hover h1 {
   color: var(--blue);
}

main .card img {
   width: 40%;
   border-radius: 10px;
}

main .card div {
   width: 35%;
   height: 55%;
}

main .card div p {
   line-height: 20px;
   margin: 20px 0 20px 0;
}

main .card div a {
   color: gray;
}

button {
   background-color: transparent;
   outline: none;
   cursor: pointer;
   padding: 15px 16px;
   font-size: 1vw;
   font-family: var(--geist-mono);
   text-transform: uppercase;
   border: 3px solid;
   border-radius: 10px;
   margin-top: 10px;
   transition: .5s;
}

.download {
   border-color: var(--pink);
   color: var(--pink);
}

.download:hover {
   background-color: var(--pink);
   color: var(--green);
}

.github {
   border-color: var(--green);
   color: var(--green);
}

.github:hover {
   background-color: var(--green);
   color: var(--pink);
}

/* footer section */
footer {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   gap: 50px;
   background-image: linear-gradient(to top, var(--blue), var(--black), var(--black));
}

footer .socials {
   background-color: var(--white);
   height: 400px;
   width: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 15%;
   border-radius: 20px;
}

footer .socials img {
   width: 100px;
   border: 5px solid var(--black);
   padding: 5px;
   border-radius: 20px;
   transition: .25s;
}

footer .socials img:hover {
   transform: rotateZ(10deg) scale(1.2);
}

footer .about {
   background-color: var(--white);
   height: 400px;
   width: 800px;
   border-radius: 20px;
   padding: 50px;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
}

footer .about p, footer .about h1 {
   color: var(--black);
   font-family: var(--josefin-sans);
   font-size: 1.5rem;
}

footer .about h1 {
   font-size: 3rem;
}